/*  Reset */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --primary: #0065fc;
  --secondary: #deebff;
  --background: #f2f2f2;
}

body {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  max-width: 1440px;
  margin: auto;
}

/* generic class */

.p1bot {
  padding-bottom: 1rem;
}

.p0dot2bot {
  padding-bottom: 0.2rem;
}
.offLineBreak {
  display: inline;
}
.icon-color {
  padding: 1rem;
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 100px;
}
.icon-blue {
  color: var(--primary);
  padding: 0.25rem 0.5rem;
  border-radius: 15px;
  border: var(--background) solid 2px;
}

/* header */

header {
  padding: 1rem 0px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

header img {
  margin: auto 0px;
  height: 60px;
}

header ul {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
}

header ul li {
  padding: 2rem;
}

/* search */

.search form {
  display: flex;
  align-items: center;
}

.search form i {
  background-color: var(--background);
  border: var(--background) solid 1px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 0.95rem;
}

.search form input {
  border-left: none;
  border-right: none;
  border-top: var(--background) solid 1px;
  border-bottom: var(--background) solid 1px;
  padding: 1rem;
  font-weight: bold;
}

.search form button {
  background-color: var(--primary);
  color: white;
  cursor: pointer;
  border: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0.95rem;
  font-weight: bold;
  font-size: 1rem;
}

.filter {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.filter p {
  text-align: center;
  align-self: center;
  margin: 0.5rem;
  font-weight: bold;
}

.filter-btn {
  margin: 1rem;
  display: flex;
  flex-flow: row nowrap;
  border: var(--background) solid 2px;
  border-radius: 100px;
}

/* main */
main {
  display: flex;
  flex-flow: row wrap;
}

.accomodation {
  padding: 1.5rem;
  margin: 1rem 2rem 1rem 0;
  background: var(--background);
  border-radius: 15px;
  flex: 2;
}
.popular {
  padding: 1.5rem;
  margin: 1rem 0 1rem 2rem;
  background: var(--background);
  border-radius: 15px;
  flex: 1;
}
.activity {
  background-color: red;
  flex: 1;
  min-width: 100%;
}
/* Accomodation */

.accomodation .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: auto;
  width: auto;
}

.accomodation .container .card {
  background: white;
  display: flex;
  flex-flow: column wrap;
  margin: 1rem;
  border-radius: 15px;
  border: white solid 5px;
  max-height: 160px;
  max-width: 190px;
  font-size: 0.65rem;
}

.accomodation .container .card img {
  justify-self: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  height: 6.5rem;
  object-fit: cover;
}

/* Popular */

.popular .container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: auto;
  width: auto;
}

.popular .container .card {
  background: white;
  display: flex;
  flex-flow: row wrap;
  margin: 1rem;
  border-radius: 15px;
  border: white solid 5px;
  font-size: 0.65rem;
}

.popular .container .card .resume {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  padding: 0.2rem 0.5rem;
}

.popular .container .card img {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  width: 8rem;
  min-height: 100%;
  object-fit: cover;
}

/* Activity */

.activity .container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.activity .card {
  border-radius: 23px;
  border: var(--background) solid 3px;
}
.activity .card-2 img {
  max-height: 250px;
}
.activity .card-3 img {
  max-height: 150px;
}
.activity .container img {
  height: 400px;
  width: 300px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
