/*  Reset */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --primary: #0065fc;
  --secondary: #deebff;
  --background: #f2f2f2;
}

body {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}

header,
.search,
main,
.wrap {
  margin: auto;
  max-width: 1440px;
}

html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
/* generic class */

.icon-color {
  font-size: 1.4rem;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  padding: 1rem;
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 100px;
  margin: -0.135rem;
}

.icon-blue {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  width: 28px;
  font-size: 0.8rem;
  color: var(--primary);
  padding: 0.25rem 0.5rem;
  border-radius: 15px;
  border: var(--background) solid 2px;
}

.search .filter .fas,
.info .fas {
  display: flex;
}

.card:hover {
  transform: scale(1.1);
}
.card {
  transition: 0.8s;
}
.blue {
  color: var(--primary);
}
.grey {
  color: rgba(179, 169, 169, 0.493);
}

a:link,
a:visited {
  color: black;
  text-decoration: none;
}

/* header */

header {
  padding: 2px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

header img {
  margin: auto 0px;
  height: 60px;
}

header ul {
  display: flex;
  flex-flow: row nowrap;
}

header a:hover {
  color: var(--primary);
}

header li:hover {
  border-top: solid 2px var(--primary);
  margin-top: -2px;
}

header ul li {
  padding: 2rem;
}

.register {
  color: var(--primary);
  font-weight: bold;
  cursor: pointer;
}

.register:hover {
  margin-top: 0px;
  border-top: none;
}

/* search */

.search h1 {
  padding-top: 1rem;
}
.search > p {
  padding-top: 0.5rem;
}
.search form {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.search form > i {
  background-color: var(--background);
  border: var(--background) solid 1px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 0.95rem;
}

.search form input {
  color: black;
  border-left: none;
  border-right: none;
  border-top: var(--background) solid 1px;
  border-bottom: var(--background) solid 1px;
  padding: 0.9rem;
  outline: 0;
  font-weight: bold;
  font-size: 1rem;
}
.search ::placeholder {
  color: black;
}
.search button > i {
  display: none;
}
.search form button {
  background-color: var(--primary);
  color: white;
  cursor: pointer;
  border: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0.95rem;
  font-weight: bold;
  font-size: 1rem;
}
.filter-btn:hover {
  cursor: pointer;
  background: var(--primary);
  color: white;
  /* border: var(--primary) 2px solid; */
}

.filter {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding-top: 0.7rem;
}

.filter p {
  align-self: center;
  font-weight: bold;
  padding-right: 1rem;
}
.filter-btn p {
  padding: 0 1rem;
}
.filter-btn {
  margin: 1rem;
  display: flex;
  transition: ease-in-out 0.5s;
  flex-flow: row nowrap;
  border: #f2f2f2 solid 2px;
  border-radius: 100px;
}

.info {
  display: flex;
  flex-flow: row;
  align-items: center;
  padding-top: 0.8rem;
}

.info p {
  padding-left: 0.5rem;
}
/* main */
main {
  padding: 2rem 0;
  display: flex;
  flex-flow: row wrap;
}

#accomodation {
  padding: 2rem;
  margin: 1rem 1rem 1rem 0;
  background: var(--background);
  border-radius: 15px;
  flex: 2.5;
}
.popular {
  padding: 2rem;
  margin: 1rem 0 1rem 1rem;
  background: var(--background);
  border-radius: 15px;
  flex: 1;
}
#activity {
  flex: 1;
  min-width: 100%;
  padding: 1rem 0;
}

/* Accomodation */

#accomodation .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: auto;
  width: auto;
}

#accomodation .container .card {
  background: white;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  margin: 1rem 0rem;
  border-radius: 15px;
  border: white solid 5px;
  min-height: 190px;
  max-height: 360px;
  max-width: 250px;
  font-size: 0.85rem;
}
#accomodation .container .card h3,
#accomodation .container .card p,
#accomodation .container .card .stars-container {
  padding-left: 0.5rem;
}

#accomodation .container .card img {
  justify-self: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  height: 7rem;
  object-fit: cover;
}

.more {
  padding-top: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}

/* Popular */

.popular .title {
  display: flex;
  justify-content: space-between;
}

.title i {
  font-size: 1.5rem;
}
.popular .container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: auto;
  width: auto;
}

.popular .container .card {
  background: white;
  display: flex;
  flex-flow: row nowrap;
  min-height: 130px;
  margin: 1rem 0;
  border-radius: 15px;
  border: white solid 5px;
  font-size: 0.85rem;
}

.popular .container .card .resume {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  padding: 0.7rem 2rem 0 1rem;
}

.popular .container .card img {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  width: 8rem;
  min-height: 100%;
  object-fit: cover;
}

/* Activity */

#activity .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#activity .card {
  border-radius: 23px;
  box-shadow: 0px 0px 10px 1px rgb(236, 223, 223);
}
#activity .card-2 img {
  max-height: 200px;
}
#activity .card-3 img {
  max-height: 100px;
}
#activity img {
  height: 400px;
  width: 320px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

#activity .pair {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

#activity h3 {
  padding: 1rem;
}
#activity h2 {
  padding: 1.5rem 0rem;
}
/* footer */
footer {
  background-color: var(--background);
}
.wrap {
  display: flex;
  flex-flow: row nowrap;
  padding-top: 3rem;
}

.wrap .container {
  min-width: 33%;
}

.wrap h2 {
  font-size: 1.2rem;
  padding: 0 0 1rem 0;
}

.wrap ul li {
  padding: 0 0 0.8rem 0;
}

.wrap a:hover {
  color: var(--primary);
}
