:root {
  --primary: #0065fc;
  --secondary: #deebff;
  --background: #f2f2f2;
}
body {
  margin: 0;
}
header {
  flex-flow: column wrap;
  align-items: flex-start;
  padding: 0;
  width: 100%;
}

.register {
  padding: 0;
  position: absolute;
  top: 30px;
  right: 20px;
  /* width: 0; */
  text-align: right;
  border-bottom: none;
}

header img {
  padding: 15px 0 0 15px;
}
header ul {
  width: 100%;
}
header ul li {
  width: 50%;
  margin-bottom: 2px;
}
header ul li {
  border-bottom: 2px solid var(--background);

  text-align: center;
  padding: 1rem 2rem;
}

header ul li:hover {
  border-top: none;
  border-bottom: solid 2px var(--primary);
}
.register:hover {
  border-bottom: none;
}
/* filter */

.filter > p {
  padding-right: 10rem;
  /* padding-bottom: 0.8rem; */
}
.filter-btn {
  margin: 0.5rem 0.9rem 0.5rem 0;
}
.search form input {
  width: 60vw;
}
.search {
  padding: 1rem 1rem;
}
.search form button {
  border-radius: 15px;
  margin-left: -15px;
}
.search button > i {
  display: inline-block;
}

.search button span {
  display: none;
}

/* main */
main {
  padding: 0;
  flex-flow: column;
}

.popular {
  margin: 0;
  padding: 1rem;
  order: -1;
  border-radius: 0;
}
.popular .container .card {
  max-width: 100%;
}
#accomodation {
  margin: 0;
  padding: 1rem;
  border-radius: 0;
  background: white;
}

#accomodation .container {
  flex-flow: column;
  align-items: center;
}

#accomodation .container .card {
  box-shadow: 0px 0px 10px 1px rgb(236, 223, 223);
  max-width: 100%;
}
#activity {
  padding: 1rem 1rem;
}
#activity .container {
  flex-flow: column nowrap;
  justify-content: center;
}

#activity .card-1,
#activity .card-2,
#activity .card-3 {
  max-height: 300px;
  margin: 0.8rem 0;
}
#activity .card-1 img,
#activity .card-2 img,
#activity .card-3 img {
  max-height: 130px;
}

#activity img {
  width: 100%;
}
/* footer */

.wrap {
  padding: 1.5rem 1.2rem;
  margin-top: 2rem;
  flex-flow: column;
}

.wrap .container {
  padding-top: 1.5rem;
}
